
 <% if current_user %>
      <script>
        window.currentUser = { 
          "id": <%= current_user.id %>,
          "username": "<%= current_user.username %>",
          "email": "<%= current_user.email %>",
          "pictureUrl": "<%= url_for(current_user.profile_picture) %>",
          "followerIds": <%= current_user.followed.ids %>,
          "followedIds": <%= current_user.people_followed.ids %>,
          "backgroundImg": "<%= url_for(current_user.background_img) %>"
          };
      </script>
    <% end %>



<main id="root"></main>